<html>
<head>
   <title>Stock Monitor App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel= 'stylesheet' href="{{ url_for('static', filename='styles/font-awesome.min.css')}}">

<!--<style>-->
<!--@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);-->

<!--body{-->
    <!--text-align: center;-->
<!--}-->
<!--h1{-->
    <!--font-family: 'Amatic SC', cursive;-->
    <!--font-weight: normal;-->
    <!--color: #8ac640;-->
    <!--font-size: 2.5em;-->
<!--}-->
<!--</style>-->

</head>
<body>
 {% block body %}


 {% endblock %}

</body>
</html>